@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');

.mapboxgl-popup-content{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:bold;
  padding: 1.5rem;
  border-radius: 10px;
}
.parc-popup .mapboxgl-popup-content h3{
  color: #24CE81;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.agenda-popup .mapboxgl-popup-content h3{
  color: #F48A4C;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.biblio-popup .mapboxgl-popup-content h3{
  color: #9B328B;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.rest-popup .mapboxgl-popup-content h3{
  color: #eab308;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.map-container {
  height: 90%;
  width: 100vw;
  
}
#loading-screen {
  font-family: 'Rubik', sans-serif;
}

.logo{
  height: 157px;
  width: 252px;
}

.form{
  margin: 0 auto;
}
.input{
  width: 17rem;
}

@media (min-width: 1024px) { 
  .input{
    width: 25rem;
  }
  .map-container{
    width: 75%;
    height: 75%;
    margin: 5rem;
    border:5px solid grey;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 750px){
  .iconMap{
      width: 20px;
  }
}