@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
/*.map{
  flex:5;
}*/
.mapboxgl-popup-content{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:bold;
  padding: 1.5rem;
  border-radius: 10px;
}
.parc-popup .mapboxgl-popup-content h3{
  color: #24CE81;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.agenda-popup .mapboxgl-popup-content h3{
  color: #F48A4C;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.biblio-popup .mapboxgl-popup-content h3{
  color: #9B328B;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.rest-popup .mapboxgl-popup-content h3{
  color: #eab308;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.nav{
  /*flex:2;*/
  padding: 25px 20px;
}

.nav-item{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}
.icon.parc-icon {
  color: #24CE81;
}
.icon.parc-icon ~ .nav-text {
  color: #24CE81;
}
.icon.user-icon {
  color: #6986F6;
}
.icon.user-icon ~ .nav-text {
  color: #6986F6;
}
.icon.agenda-icon {
  color: #F48A4C;
}
.icon.agenda-icon ~ .nav-text {
  color: #F48A4C;
  ;
}
.icon.restaurant-icon {
  color: #eab308;
}
.icon.restaurant-icon ~ .nav-text {
  color: #eab308;
}
.icon.biblio-icon {
  color: #9B328B;
}
.icon.biblio-icon ~ .nav-text {
  color: #9B328B;
}
.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}
.icon{
  display: inline;
  font-size: 32px;
  transition: color .3s;
}
.map-container {
  height: 90%;
  width: 100vw;
  /*flex:5*/
}
#loading-screen {
  font-family: 'Rubik', sans-serif;
}
.logo{
  height: 157px;
  width: 252px;
}

.form{
  margin: 0 auto;
}
.input{
  width: 17rem;
}
@media (min-width: 1024px) { 
  .input{
    width: 25rem;
  }
  .map-container{
    width: 75%;
    height: 75%;
    margin: 5rem;
    border:5px solid grey;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 7rem;
  }
}